.bug{
    background-image: url('../assets/type-ground/bug.jpeg');
    background-size: 100% 100%;
}
.dark{
    background-image: url('../assets/type-ground/dark.jpeg');
    background-size: 100% 100%;
}
.dragon{
    background-image: url('../assets/type-ground/dragon.jpeg');
    background-size: 100% 100%;
}
.electric{
    background-image: url('../assets/type-ground/elec.png');
    background-size: 100% 100%;
}
.fairy{
    background-image: url('../assets/type-ground/fairy.jpeg');
    background-size: 100% 100%;
}
.fighting{
    background-image: url('../assets/type-ground/fighting.jpeg');
    background-size: 100% 100%;
}
.fire{
    background-image: url('../assets/type-ground/fire.jpg');
    background-size: 100% 100%;
}
.flying{
    background-image: url('../assets/type-ground/fly.png');
    background-size: 100% 100%;
}
.ghost{
    background-image: url('../assets/type-ground/ghost.jpeg');
    background-size: 100% 100%;
}
.grass{
    background-image: url('../assets/type-ground/grass.jpeg');
    background-size: 100% 100%;
}
.ground{
    background-image: url('../assets/type-ground/ground.jpeg');
    background-size: 100% 100%;
}
.ice{
    background-image: url('../assets/type-ground/ice.jpeg');
    background-size: 100% 100%;
}
.normal{
    background-image: url('../assets/type-ground/normal.jpeg');
    background-size: 100% 100%;
}
.poison{
    background-image: url('../assets/type-ground/poison.jpeg');
    background-size: 100% 100%;
}
.psychic{
    background-image: url('../assets/type-ground/psychic.jpeg');
    background-size: 100% 100%;
}
.rock{
    background-image: url('../assets/type-ground/rock.jpeg');
    background-size: 100% 100%;
}
.steel{
    background-image: url('../assets/type-ground/steel.jpeg');
    background-size: 100% 100%;
}
.water{
    background-image: url('../assets/type-ground/water.jpeg');
    background-size: 100% 100%;
}
