.nav-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ea0b29;
  padding: 5px;
  width: 100%;
}

.navbar-img {
  width: 150px;
  position: relative;
  margin-left: 100px;
  cursor: pointer;
}

.heart-nav {
  margin-right: 100px;
}

.btn1 button {
  background: #fff;
  color: #ea0b29;
  font-weight: bold;
  line-height: 42px;
  padding: 0;
  cursor: pointer;
  border: none;
  width: 120px;
}

.btn1 button:hover {
  background: transparent;
  color: #fff;
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}

@media(max-width:750px) {
  .navbar-img {
    margin: 0;
  }

  .heart-nav {
    margin: 0;
  }
}