.pokedex {
    padding: 25px;
    margin-top: 50px;
}

.pokedex-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 80px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background-color: #ea0b29;
    padding: 0 18px;
    /* background-color: #ea0b29; */
}

.home-img {
    height: 50px;
    margin-right: 130px;
}

.pokedex-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.pokemon-card {
    display: flex;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
        rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    cursor: pointer;
    padding: 5px;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    border: 3px solid rgba(249, 249, 249, 0.1);
}

.pokemon-card:hover {
    box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px,
        rgb(0 0 0 / 72%) 0px 30px 22px -10px;
    transform: scale(1.05);
    border-color: rgba(249, 249, 249, 0.8);
}

.pokemon-card img {
    width: 80px;
    height: 80px;
    margin-right: 4px;
    opacity: 1;
    transition: opacity 500ms ease-in-out 0s;
}

.pokemon-card .pokemon-image-container {
    padding: 0px 5px;
}

.pokemon-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.pokemon-card .card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pokemon-card .card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pokemon-card .pokemon-type {
    display: flex;
}

.pokemon-card .pokemon-type-text {
    margin-right: 10px;
    font: bold;
    text-transform: capitalize;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
        rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    border: 3px solid rgba(249, 249, 249, 0.1);
    width: 90px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.pokemon-card h3 {
    text-transform: capitalize;
    color: aliceblue;
}

.pokemon-card p {
    font-weight: bold;
    color: aliceblue;
}

.pokemon-heart-btn {
    color: red;
}

.info {
    display: grid;
    grid-gap: 10px;
    padding: 0px 25px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    height: 100%;
}

.info-6 {
    display: grid;
    grid-gap: 10px;
    padding: 0px 25px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 40px;
    height: 100%;
}

@media (max-width: 1200px) and (min-width: 825px) {
    .pokedex-list {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    .info-6 {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    .info {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }
}

@media(max-width:824px) {
    .pokedex-list {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }

    .child-to-body {
        display: none;
    }

    .home-img {
        margin-right: 0px;
    }

    .info-6 {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }

    .info {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }

}

@media(max-width:621px) {
    .pokedex {
        padding: 10px;
        margin-bottom: 20px;
    }
    .home-img {
        display: none;
    }
}

@media(max-width:433px) {
    .pokedex-top   {
        display: block;
        align-items: center;
        justify-content: center;      
    }
    .search-container .search{
        width: 70%;
        margin-left: 10px;        
    }
    .pagination-container{
        margin-top: 5px;
        margin-left: 32%;
    }
}

